
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>Register</h2>

<div style="align-content:center;padding-left:200px;">
    <h2>Login Here</h2>
    @using (Html.BeginForm("Reg_Submit", "AppMain", FormMethod.Post))
    {
        <div class="form-group">
            <label for="FirstName" class="col-sm-2 control-label"> First Name</label>
            <div class="col-sm-10" style="padding-right:5px;">
                <input type="text" class="form-control" name="FirstName" required />
            </div>
            <label for="MiddleName" class="col-sm-2 control-label">Midlle Name</label>
            <div class="col-sm-10" style="padding-right:5px;">
                <input type="text" class="form-control" name="MiddleName" required />
            </div>
            <label for="LastName" class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-10" style="padding-right:5px;">
                <input type="text" class="form-control" name="LastName" required />
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">UserName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="UserName" required />
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="Password" required />
            </div>
        </div>
        <div class="form-group" style="padding-top:10px;">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-primary" onclick="window.open('@Url.Action("Information", "AppMain",new { target="_blank" })')" >Back</button>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    }
</div>


