<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>C++ Application</title>
</head>
<body>
    <hr/>
    <div>
        @RenderBody()
     
        
    </div>
</body>
</html>
